{{- $email := promptString "Git email address" }}
{{- $work := regexMatch "C\\d{6}" .chezmoi.username }}

encryption = "age"

[age]
identity = "~/age-key.txt"
symmetric = true

[data]
email = "{{ $email }}"

[edit]
command = "{{ if $work }}code{{ else }}zed{{ end }}"
args = ["--wait"]
