{{- if regexMatch "C\\d{6}" .chezmoi.username }}
# Work computer, only use specified files
**
!.copilot/**
{{- else}}
.copilot/**
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
Brewfile
.chezmoiscripts/*
.config/zed/
{{- end }}

{{- if ne .chezmoi.os "windows" }}
AppData/**
{{- end }}
