[user]
    name = Ben Soyka
    email = "{{ .email }}"
    signingkey = BC4876BDC8AB5AB8C9CB81659497E30583D68D89

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
    excludesfile = "{{ .chezmoi.homeDir }}/.config/git/ignore"

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[push]
    autoSetupRemote = true
